@import "tailwindcss";
@source "../../packages/ui";

@theme {
  --color-brand-navy: #0B132B;
  --color-brand-purple: #4B2E83;
  --color-brand-lavender: #E6E6FA;
  --color-brand-cream: #FAF9F6;
  --color-brand-charcoal: #333333;
}

:root {
  --background: #f3f4f6; /* Lighter background for admin dashboard */
  --foreground: var(--color-brand-charcoal);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
